body {
  background: linear-gradient(
    rgb(48, 48, 48),
    rgb(19, 1, 93) 40%,
    rgb(48, 48, 48)
  );
  height: 100vh;
  font-family: "Roboto";
  text-align: center;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.signup {
  border-radius: 15px;
  box-shadow: 0px 0px 30px 15px rgba(0, 0, 0, 0.5);
  width: 350px;
  height: 600px;
  overflow: hidden;
}
.signup label h1 {
  color: white;
  font-size: 40px;
  margin: 20% 0;
}
.signup input {
  width: 300px;
  height: 35px;
  margin-bottom: 20px;
  border-radius: 10px;
  outline: none;
  border: none;
  padding: 5px;
}
.signup button {
  margin-top: 20px;
  width: 280px;
  height: 45px;
  border: none;
  border-radius: 10px;
  background-color: blueviolet;
  font-size: 20px;
  color: white;
  cursor: pointer;
  font-weight: 700;
}

/* ================로그인=============== */

.login {
  border: 1px solid white;
  background-color: white;
  width: 700px;
  position: relative;
  /* 상좌-상우-하우-하좌 */
  border-radius: 50% 50% 10px 10px;
  right: 180px;
  top: 90px;
  text-align: center;
  color: blueviolet;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease;
}
/* .login,
.login h1 {
  cursor: pointer;
} */
.login label h1 {
  position: relative;
  bottom: 130px;
  color: blueviolet;
  font-size: 25px;
}
.login input {
  background-color: lightgray;
  width: 300px;
}

/* 클릭했을 때 밑에있는 div가 올라오도록... */
.login:hover {
  height: 500px;
  top: -300px;
}
.login:hover h1 {
  font-size: 40px;
  bottom: 30px;
}
.login:hover input {
  display: flex;
}
