<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1>사용자 테이블</h1>

    <div id="input-container">
        <input type="text" id="search">
        <label for="type">gender : </label>
        <select name="type" id="type">
            <option value="male">male</option>
            <option value="female">female</option>
        </select>
        <button id="searchButton">Search</button>
    </div>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Age</th>
                <th>Birthday</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr onclick="window.location=`users/{{row.Id}}`;">
                <td>{{ row.Id }}</td>
                <td>{{ row.Name }}</td>
                <td>{{ row.Gender }}</td>
                <td>{{ row.Age }}</td>
                <td>{{ row.Birthdate }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <footer>
        <ul>
            {%for page in totalArr %}

            {% if (page === '...') %}
            <li><span>{{ page }}</span></li>
            {% else %}
            <li><a href="/?page={{ page }}"><span>{{ page }}</span></a></li>
            {% endif %}

            {% endfor %}
        </ul>
    </footer>

    <script src="/js/users.js"></script>
</body>

</html>